// Theme 1

// Backgrounds

$TOneMainBckg: hsl(222, 26%, 31%);
$TOneToggleBckgKeyPadBckg: hsl(223, 31%, 20%);
$TOneScreenBckg: hsl(224, 36%, 15%);

// Keys

$TOneKeyBckg: hsl(225, 21%, 49%);
$TOneKeyShadow: hsl(224, 28%, 35%);

$TOneKeyBckgToggle: hsl(6, 63%, 50%);
$TOneKeyShadowBckgToggle: hsl(6, 70%, 34%);

$TOneKeyBckgOrange: hsl(30, 25%, 89%);
$TOneKeyShadowOrange: hsl(28, 16%, 65%);

// Text

$TOneTxtDarkGrayishBlue: hsl(221, 14%, 31%);
$White: hsl(0, 0, 100%);

// Theme 2

// Backgrounds

$TTwoMainBckg: hsl(0, 0%, 90%);
$TTwoToggleBckgKeyPadBckg: hsl(0, 5%, 81%);
$TTwoScreenBckg: hsl(0, 0%, 93%);

// Keys

$TTwoKeyBckg: hsl(185, 42%, 37%);
$TTwoKeyShadow: hsl(185, 58%, 25%);

$TTwoKeyBckgToggle: hsl(25, 98%, 40%);
$TTwoKeyShadow: hsl(25, 99%, 27%);

$TTwoKeyBckgOrange: hsl(45, 7%, 89%);
$TTwoKeyShadowOrange: hsl(35, 11%, 61%);

// Text

$TOneTxtDarkGrayishYellow: hsl(60, 10%, 19%);
$White: hsl(0, 0, 100%);

// Theme 3

// Backgrounds

$TThreeMainBckg: hsl(268, 75%, 9%);
$TThreeToggleBckgKeyPadBckgScreenBckg: hsl(268, 71%, 12%);

// Keys

$TThreeKeyBckg: hsl(281, 89%, 26%);
$TThreeKeyShadow: hsl(285, 91%, 52%);

$TThreeKeyBckgToggle: hsl(176, 100%, 44%);
$TThreeKeyShadow: hsl(177, 92%, 70%);

$TThreeKeyBckgViolet: hsl(268, 47%, 21%);
$TThreeKeyShadowMagenta: hsl(290, 70%, 36%);

// Text

$TThreeTxtLightYellow: hsl(52, 100%, 62%);
$TThreeTxtDarkBlue: hsl(198, 20%, 13%);
$White: hsl(0, 0, 100%);
